In [43]:
import pandas as pd
import numpy as np
from datetime import datetime, timedelta

In [145]:
group_info_df = pd.read_csv('D:\Data_Analyst\Project_Assignment\Technical_Round_1_Analytics_Proposal\data\group_info.csv')
member_info_df = pd.read_csv('D:\Data_Analyst\Project_Assignment\Technical_Round_1_Analytics_Proposal\data\member_info.csv')
message_info_df = pd.read_csv('D:\Data_Analyst\Project_Assignment\Technical_Round_1_Analytics_Proposal\data\message_info.csv')

In [47]:
group_info_df

,group_id,title,description,group_type,member_count,admin_count,number_of_bots,pinned_messages,pinned_messages_timestamp,visibility
0,1,rich Group,Majority population example particular.,public,698.0,14.0,7.0,What trouble crime sport player.,NaN,public
1,2,continue Group,NaN,public,145.0,5.0,29.0,NaN,NaN,restricted
2,3,admit Group,Society section how prove event.,public,819.0,8.0,NaN,NaN,NaN,public
3,4,thus Group,Doctor deep particularly eat.,private,367.0,12.0,40.0,Run always be cup marriage friend.,NaN,restricted
4,5,Congress Group,Reflect ball religious from head social.,private,253.0,5.0,1.0,Skill state protect your increase right.,NaN,public
...,...,...,...,...,...,...,...,...,...,...
195,196,case Group,Some stage everybody eye commercial available ...,public,280.0,4.0,32.0,Build wall bring he go mother buy.,2024-10-05 17:22:53,public
196,197,use Group,Morning weight first discussion popular.,private,980.0,2.0,23.0,NaN,NaN,public
197,198,source Group,NaN,public,195.0,6.0,13.0,NaN,2024-06-03 18:25:57,restricted
198,199,kind Group,Politics both create keep.,public,NaN,11.0,49.0,NaN,NaN,public
199,200,improve Group,Low one spring.,private,364.0,7.0,14.0,NaN,NaN,NaN

In [48]:
member_info_df

,user_id,username,first_name,last_name,is_bot,role,join_date,group_id
0,1,alynch,Jonathan,Baker,True,moderator,2025-01-10T02:01:49,100
1,2,teresawhite,Russell,Galvan,True,admin,2025-01-05T20:00:58,173
2,3,marshallwilliam,Christina,Holt,True,moderator,2025-01-18T17:58:22,31
3,4,vegakaren,Lori,Miles,False,member,2025-01-06T12:19:02,137
4,5,pshah,Autumn,Allen,False,member,2025-01-16T07:42:26,2
...,...,...,...,...,...,...,...,...
995,996,omorris,Kelly,Obrien,True,moderator,2025-01-23T06:17:06,70
996,997,joshua34,Carolyn,Lucas,False,member,2025-01-27T05:40:12,180
997,998,hartjeffrey,Joseph,Lee,True,member,2025-01-29T03:46:51,160
998,999,mblackwell,Jason,Ford,False,member,2025-01-04T23:17:03,126
999,1000,smithdavid,Luke,Jones,True,admin,2025-01-26T05:28:18,49

In [49]:
message_info_df

,message_id,sender_id,timestamp,message_type,text,media_links,hashtags,urls,replies,views,forwards,sender_name,sender_username,group_id
0,1,329,2025-01-02T18:24:46,text,Hope recognize quality billion cover must.,NaN,['evening'],['https://www.matthews.com/'],5,1021,8,Mr. Jesus Jones,hwhite,69
1,2,20,2025-01-15T18:22:35,text,Themselves in out save project.,NaN,['church'],[],48,4088,86,Carlos Buchanan,feliciaodonnell,177
2,3,156,2025-01-03T11:14:41,text,Painting serve table feel open black despite.,NaN,"['task', 'soon', 'near']",['http://www.salazar.com/'],27,3735,107,Jacob Campos,john03,54
3,4,51,2025-01-05T08:04:30,sticker,Door see human thing from view.,NaN,['natural'],['https://www.wang.info/'],15,3391,66,Scott Cuevas,nosborne,194
4,5,993,2025-01-20T23:41:21,link,Eat head cost customer.,NaN,['mother'],['http://www.morris.com/'],39,3361,51,Aaron Garcia,kimberly63,144
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,729,2025-01-01T15:03:25,media,Land building some be performance possible see.,NaN,"['probably', 'which']",['https://smith.com/'],23,908,176,Anthony Novak,cathy84,159
996,997,816,2025-01-18T16:00:43,text,Activity late stock carry.,NaN,"['young', 'every', 'feel']",['https://shepherd.biz/'],1,4774,144,William Smith,jeffreysullivan,58
997,998,168,2025-01-07T05:03:30,link,Organization none current safe fire difficult.,NaN,[],['https://combs-king.com/'],19,3858,153,Angela Roth,sarahhill,36
998,999,736,2025-01-08T21:19:22,text,Writer development world impact change low hea...,http://www.ware.org/,"['able', 'medical']",['https://www.ritter.info/'],19,2154,104,Eric Beasley,tranmichelle,157
999,1000,751,2025-01-10T20:42:38,sticker,Begin pay new read painting just choice.,NaN,"['actually', 'show', 'arm']",['http://www.phillips.com/'],32,245,1,Laura Smith,gonzalezangela,159

## Analytics for Group Data

### 1. Group Type Distribution
**Description:** Count the occurrences of each group type (public, private, etc.) within the dataset to understand the distribution of group privacy settings.

In [50]:
group_type_distribution = group_info_df['group_type'].value_counts()
print("Occurrence of each group type (public, private, etc):", group_type_distribution)

Occurrence of each group type (public, private, etc): group_type
public     100
private    100
Name: count, dtype: int64

### 2. Average Member Count
**Description:** Calculate the mean of the 'member_count' column to determine the average size of groups.

In [51]:
average_member_count = round(group_info_df['member_count'].mean())
print("Average memeber count of group:", average_member_count)

Average memeber count of group: 504

### 3. Admin to Member Ratio
**Description:** Divide the number of administrators by the number of members for each group to assess the management structure.

In [52]:
group_info_df['admin_to_member_ratio'] = round((group_info_df['admin_count'] / group_info_df['member_count']) * 100, 2)
highest_admin_to_member_ratio = group_info_df[['group_id', "title", 'admin_to_member_ratio']]
print("Higehest admin to memebers ratio:\n", highest_admin_to_member_ratio.sort_values(by=["admin_to_member_ratio"], ascending=False).head(5))

Higehest admin to memebers ratio:
      group_id         title  admin_to_member_ratio
13         14    rule Group                  23.64
103       104   state Group                  22.58
90         91     law Group                  15.79
120       121    wish Group                  13.92
187       188  option Group                  10.84

In [53]:
group_info_df['admin_to_member_ratio'] = round((group_info_df['admin_count'] / group_info_df['member_count']) * 100, 2)
lowest_admin_to_member_ratio = group_info_df[['group_id', "title", 'admin_to_member_ratio']]
print("Lowest admin to memebers ratio:\n", highest_admin_to_member_ratio.sort_values(by=["admin_to_member_ratio"], ascending=True).head(5))

Lowest admin to memebers ratio:
      group_id            title  admin_to_member_ratio
9          10  operation Group                   0.14
146       147     simple Group                   0.18
107       108         no Group                   0.19
118       119     happen Group                   0.19
196       197        use Group                   0.20

### 4. Bot Presence Analysis
**Description:** Calculate the proportion of bots to human members in each group to evaluate the level of automation.

In [54]:
group_info_df['bot_presence'] = round(group_info_df['number_of_bots'] / group_info_df['member_count'] * 100, 2) 
highest_bot_to_human = group_info_df[['group_id', "title", 'bot_presence']]
print("Highest bot to human memebers in group:\n", highest_bot_to_human.sort_values(by=["bot_presence"], ascending=False).head(5))

Highest bot to human memebers in group:
      group_id            title  bot_presence
46         47  agreement Group         58.57
103       104      state Group         53.23
120       121       wish Group         45.57
116       117   southern Group         34.06
76         77    usually Group         32.50

In [55]:
group_info_df['bot_presence'] = round(group_info_df['number_of_bots'] / group_info_df['member_count'] * 100, 2) 
Lowest_bot_to_human = group_info_df[['group_id', "title", 'bot_presence']]
print("Highest bot to human memebers in group:\n", highest_bot_to_human.sort_values(by=["bot_presence"], ascending=True).head(5))

Highest bot to human memebers in group:
      group_id          title  bot_presence
17         18  mission Group          0.13
20         21   toward Group          0.19
104       105   result Group          0.22
28         29     sing Group          0.25
31         32       be Group          0.30

### 5. Pinned Message Frequency
**Description**: Determines the recency of pinned messages by comparing 'pinned_messages_timestamp' with the current date.
           Helps analyze how frequently messages are pinned and whether they are recent or old.

In [86]:
# Ensure the column is in datetime format
group_info_df['pinned_messages_timestamp'] = pd.to_datetime(group_info_df['pinned_messages_timestamp'], errors='coerce')

# Apply the logic
group_info_df['pinned_message_recent'] = group_info_df['pinned_messages_timestamp'].apply(
    lambda x: 'Recent' if pd.notna(x) and x > datetime.now() - timedelta(days=7) else 'Old'
)

group_info_timestamp_recent = group_info_df[group_info_df['pinned_message_recent'] == "Recent"]
print("Recent Pinned message:\n", group_info_timestamp_recent[["group_id", "title", "pinned_message_recent", "pinned_messages_timestamp"]].head(5))

Recent Pinned message:
      group_id           title pinned_message_recent pinned_messages_timestamp
95         96  national Group                Recent       2025-01-22 14:00:37
151       152     style Group                Recent       2025-01-27 12:16:45
162       163      once Group                Recent       2025-01-23 00:52:04

In [89]:
group_info_df['pinned_messages_timestamp'] = pd.to_datetime(group_info_df['pinned_messages_timestamp'], errors='coerce')

# Apply the logic
group_info_df['pinned_message_recent'] = group_info_df['pinned_messages_timestamp'].apply(
    lambda x: 'Recent' if pd.notna(x) and x > datetime.now() - timedelta(days=7) else 'Old'
)

print(group_info_df[["group_id", "title", 'pinned_messages_timestamp', 'pinned_message_recent']])

     group_id           title pinned_messages_timestamp pinned_message_recent
0           1      rich Group                       NaT                   Old
1           2  continue Group                       NaT                   Old
2           3     admit Group                       NaT                   Old
3           4      thus Group                       NaT                   Old
4           5  Congress Group                       NaT                   Old
..        ...             ...                       ...                   ...
195       196      case Group       2024-10-05 17:22:53                   Old
196       197       use Group                       NaT                   Old
197       198    source Group       2024-06-03 18:25:57                   Old
198       199      kind Group                       NaT                   Old
199       200   improve Group                       NaT                   Old

[200 rows x 4 columns]

### 6. Group Visibility Trends
**Description:** Count how many groups fall under each visibility category (public, restricted, etc.) to observe trends.

In [91]:
group_visibility_trends = group_info_df['visibility'].value_counts()
print("Count of group under visibility(public, restricted):",group_visibility_trends)

Count of group under visibility(public, restricted): visibility
public        95
restricted    91
Name: count, dtype: int64

### 7. Member Join Rate
**Description:** Group members by their join date and calculate the average number of new members joining per day.

In [96]:
member_info_df['join_date'] = pd.to_datetime(member_info_df['join_date'])
member_join_rate = round(member_info_df.groupby(member_info_df['join_date'].dt.date).size().mean())
print("Average number of new memebers joining group:", member_join_rate)

Average number of new memebers joining group: 34

### 8. Role Distribution
**Description:** Tally the number of members with each role (admin, member, moderator) to understand group governance.

In [98]:
role_distribution = member_info_df['role'].value_counts()
print("Number of memebers with each role:", role_distribution)

Number of memebers with each role: role
moderator    366
member       323
admin        311
Name: count, dtype: int64

### 9. Message Type Breakdown  
**Description:** Categorizes messages based on their type (e.g., text, media, links) and counts the frequency of each category.  
Helps analyze message composition, identify content trends, and understand user engagement patterns in groups.

In [102]:
message_type_breakdown = message_info_df['message_type'].value_counts()
print("Types of message:", message_type_breakdown)

Types of message: message_type
text       261
sticker    256
media      243
link       240
Name: count, dtype: int64

### 10. Media Sharing Insights
**Description:** Tracks the frequency of media-sharing messages in each group.  
Helps analyze user engagement, identify trends in media usage, and understand the prevalence of shared media content over time.

In [146]:
message_info_df['has_media'] = message_info_df['media_links'].notnull()
media_sharing_insights = message_info_df['has_media'].value_counts()
print("Media sharing insight", media_sharing_insights)

Media sharing insight has_media
False    706
True     294
Name: count, dtype: int64

### 11. Hashtag Usage Analysis
**Description:** Detect messages that include hashtags and evaluate the usage patterns of hashtags within the group.

In [106]:
message_info_df['has_hashtags'] = message_info_df['hashtags'].apply(lambda x: isinstance(x, str) and bool(x.strip()))
hashtag_usage_analysis = message_info_df['has_hashtags'].value_counts()
print("Hashtag usage in messages:", hashtag_usage_analysis)

Hashtag usage in messages: has_hashtags
True    1000
Name: count, dtype: int64

### 12. URL Sharing Patterns
**Description:** Tracks the number of messages containing URLs in each group.  
Helps analyze external content sharing behavior, identify frequently shared links, and understand engagement trends with external resources.

In [107]:
message_info_df['has_urls'] = message_info_df['urls'].notnull()
url_sharing_patterns = message_info_df['has_urls'].value_counts()
print("Number of url sharing:", url_sharing_patterns)

Number of url sharing: has_urls
True    1000
Name: count, dtype: int64

### 13. Message Interaction Metrics
**Description:** Tracks the total number of replies, views, and forwards for each message.  
Helps measure engagement levels, identify highly interactive messages, and analyze user interaction trends within groups.

In [111]:
message_info_df['total_interactions'] = message_info_df['replies'] + message_info_df['views'] + message_info_df['forwards']
message_interaction_metrics = message_info_df[['replies', 'views', 'forwards', 'total_interactions']].sum()
print("Message intersection:\n",message_interaction_metrics)

Message intersection:
 replies                 24234
views                 2455978
forwards               100398
total_interactions    2580610
dtype: int64

### 14. Active User Identification
**Description:** Tracks the number of messages sent by each user to identify the most active participants.  
Helps analyze user engagement, recognize key contributors, and understand participation trends within the group.

In [117]:
active_user_identification = message_info_df['sender_id'].value_counts().sort_values(ascending=False)
print("Active user identification",  active_user_identification.head(10))

Active user identification sender_id
641    5
332    5
572    5
842    4
139    4
628    4
949    4
795    4
237    4
51     4
Name: count, dtype: int64

### 15. Group Engagement Score
**Description:** Calculates a composite score by combining and weighing different interaction metrics (replies, views, forwards) for messages within each group.  
Helps assess overall group engagement, identify periods of high or low activity, and measure the effectiveness of group interactions.

In [123]:
message_info_df['engagement_score'] = message_info_df['replies'] * 0.5 + message_info_df['views'] * 0.3 + message_info_df['forwards'] * 0.2
group_engagement_score = message_info_df.groupby('group_id')['engagement_score'].sum()
print("Group Engagement score:", group_engagement_score.sort_values(ascending=False).head(10))

Group Engagement score: group_id
46     10800.2
109    10655.2
82      9010.2
176     8909.5
71      8670.7
89      8543.1
108     8377.4
192     8269.9
158     8166.3
163     8083.9
Name: engagement_score, dtype: float64

### 16. Message Sent by Admins
**Description:** Measures the number of messages sent by group admins within a given time period. This helps understand the level of admin engagement and their role in moderating or managing the group. If admins are less active in communication, it might indicate issues with management or a need for intervention.

In [144]:
end_date = pd.to_datetime('2025-01-05')
start_date = end_date - pd.DateOffset(days=90)

admins = member_info_df[member_info_df['role'] == 'admin']

df_admin_messages = pd.merge(message_info_df, admins, how='inner', left_on='sender_id', right_on='user_id', suffixes=('_message', '_member'))

df_admin_messages_filtered = df_admin_messages[(df_admin_messages['timestamp'] >= start_date) &
                                               (df_admin_messages['timestamp'] <= end_date)]

messages_sent_by_admins = df_admin_messages_filtered.groupby('group_id_message')['message_id'].count()

print("Messages sent by admin:",messages_sent_by_admins.sort_values(ascending=False).head(10))

Messages sent by admin: group_id_message
48     2
33     2
20     2
156    2
122    2
112    2
96     2
17     1
8      1
1      1
Name: message_id, dtype: int64

### 17. Member Lifespan  
**Description:** Calculates the time span from the join date to the current date for each member.  
Helps determine the average membership duration, track member retention, and analyze group activity over time.

In [126]:
member_info_df['lifespan_days'] = (datetime.now() - member_info_df['join_date']).dt.days
member_lifespan = round(member_info_df['lifespan_days'].mean(), 2)
print("Member lifespan in group:", member_lifespan)

Member lifespan in group: 13.71

### 18. Cross-Group Activity
**Description:** Identifies users who are members of multiple groups and counts how many groups they are active in.  
Helps analyze user participation across different groups, identify highly engaged members, and track activity patterns across multiple communities.

In [128]:
cross_group_activity = member_info_df.groupby('user_id')['group_id'].nunique()
print("Cross group memeber activity", cross_group_activity)

Cross group memeber activity user_id
1       1
2       1
3       1
4       1
5       1
       ..
996     1
997     1
998     1
999     1
1000    1
Name: group_id, Length: 1000, dtype: int64

### 19. Peak Activity Times
**Description:** Extracts the hour from each message's timestamp and identifies the hour with the highest message frequency.  
Helps analyze when users are most active, track peak engagement periods, and understand activity patterns throughout the day.

In [129]:
message_info_df['timestamp'] = pd.to_datetime(message_info_df['timestamp'], errors='coerce')
message_info_df['hour_of_day'] = message_info_df['timestamp'].dt.hour
peak_activity_times = message_info_df['hour_of_day'].value_counts().idxmax()
print("Peak activity time:", peak_activity_times)

Peak activity time: 18

### 20. Message Impact Score
**Description:** Calculates an impact score for each message by combining and weighting the number of views, replies, and forwards it has received.  
Helps measure the effectiveness and reach of individual messages, identify high-impact content, and analyze engagement levels within the group.

In [135]:
message_info_df['impact_score'] = message_info_df['views'] * 0.6 + message_info_df['replies'] * 0.3 + message_info_df['forwards'] * 0.1
print("Impact score of each message:", message_info_df['impact_score'].round().sort_values(ascending=False))

Impact score of each message: 910    3011.0
236    3008.0
291    3005.0
172    3003.0
490    3001.0
        ...
320      35.0
366      34.0
524      19.0
780      14.0
659       6.0
Name: impact_score, Length: 1000, dtype: float64